--extra-index-url https://download.pytorch.org/whl/nightly/cu128
--pre

torch
torchvision
torchaudio
tqdm
numpy
pandas
scikit-learn
tensorboardX

git+https://github.com/rusty1s/pytorch_scatter.git
git+https://github.com/rusty1s/pytorch_sparse.git
git+https://github.com/rusty1s/pytorch_cluster.git
git+https://github.com/rusty1s/pytorch_spline_conv.git
git+https://github.com/pyg-team/pytorch_geometric.git

